body {margin : 0;padding: 0;background-color:black;}
#stage{position: relative;margin: auto;width: 600px;height: 400px;-webkit-perspective: 400px center center;}
#scene{position: absolute;width: 600px;height: 400px; -webkit-transform-style: preserve-3d;}
#firePivot{position: absolute; width: 600px; height: 400px; -webkit-transform-style: preserve-3d; background-color: rgba(255,255,255,0);}


#close1 {
  position: absolute;
  bottom: -5%;
  height: 64%;
  left: -60px;
  z-index: 4;
  -webkit-filter: blur(6px);
}

#close2 {
  position: absolute;
  bottom: 2%;
  height: 30%;
  left: 960px;
  z-index: 3;
  -webkit-filter: blur(2px);
}


#close3 {
  position: absolute;
  bottom: 10%;
  height: 30%;
  left: 140px;
  z-index: 3;
  -webkit-filter: blur(2px);
}


/* ------------- 잔디와 관련된 코드 ------------- */
.grass {
  position: absolute;
  width: 600px; height: 400px; z-index: 1;
  -webkit-transform: translate(0px, 200px) rotateX(90deg);
}

div.grass {
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,247,107,1) 0%, rgba(252,245,106,1) 1%, rgba(51,50,22,0.1) 40%, rgba(0,0,0,0) 99%);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,247,107,1) 0%, rgba(252,245,106,1) 1%, rgba(51,50,22,0) 40%, rgba(0,0,0,0) 99%);
    -webkit-animation: grassGlow 4s infinite;
}

/* ------------- 모닥불과 관련된 코드 ------------- */
.fire {
  position: absolute;
  -webkit-animation: fireGlow 4s infinite;
  z-index: 3;
}

#fireGlow {
  -webkit-filter: blur(4px) brightness(1.6) opacity(0.6);
  -webkit-animation: fireGlow2 4s infinite;
  z-index: 1;
}

.fireWood {
  position: absolute;
  opacity: 1;
  -webkit-transform: translate3d(273px, 377px, -2px);
  -webkit-animation: fireWood 4s infinite;
}

#fireWood2 {
  opacity: 1;
  -webkit-transform: translate3d(277px, 376px, -12px) rotateY(-45deg);
}

#fireWood3 {
  opacity: 1;
  -webkit-transform: translate3d(293px, 376px, -12px) rotateY(-135deg);
}

#fireShadow {
  position: absolute;
  width: 200px; height: 200px;
  -webkit-transform: translate3d(198px, 297px, -12px) rotateX(90deg);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 12%,rgba(0,0,0,0) 18%,rgba(0,0,0,0) 100%);
  -webkit-animation: fireWood 4s infinite;
}

#spark1 {
  position:absolute;
  width: 2px; height: 2px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 2px 2px;
  -webkit-animation: spark1 1.8s infinite ease-out;
}

#spark2 {
  position:absolute;
  width: 1px; height: 1px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 1px 1px;
  -webkit-animation: spark2 1s infinite ease-out;
}

#spark3 {
  position:absolute;
  width: 3px; height: 3px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 3px 3px;
  -webkit-animation: spark3 2.8s infinite ease-out;
}

#spark4 {
  position:absolute;
  width: 2px; height: 2px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 2px 2px;
  -webkit-animation: spark4 2.4s infinite ease-out;
}

#spark5 {
  position:absolute;
  width: 1px; height: 1px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 2px 2px;
  -webkit-animation: spark3 2s infinite ease-out;
}

#spark6 {
  position:absolute;
  width: 2px; height: 2px;
  -webkit-mask-image: url(../images/spark.png);
  -webkit-mask-size: 2px 2px;
  -webkit-animation: spark2 2.3s infinite ease-out;
}

/* ------------- 배경과 관련된 코드 ------------- */
.back {
  position: absolute;
  width:400px;
  -webkit-transform: translate3d(110px, -170px, -280px);
}

#starField {
  position: absolute;
  width:2000px; height: 400px;
  background-color: white;
  -webkit-transform: translate3d(110px, -170px, -398px);
  -webkit-mask-image: url(../images/star.png);
  -webkit-mask-size: 200px 200px;
  -webkit-animation: starField 200s infinite linear;
  
}

div.back {
  width: 800px; height: 800px;
  -webkit-transform: translate3d(-40px, -380px, -400px);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(43,97,150,1) 7%,rgba(15,68,81,1) 23%,rgba(4,13,22,1) 82%);
}

#backCover{
  position: absolute;
  width: 4000px; height: 1200px;
  -webkit-transform: translate3d(-1700px, -400px, -242px);
  background-color: black;
  -webkit-mask-image: url(../images/back_cover.png);
  -webkit-mask-size: 4000px 1200px;
}

.moon {
  position: absolute;
  width: 80px;
  -webkit-transform: translate3d(338px, -12px, -395px);
  z-index: 2;
}

#moonGlow {
  -webkit-filter: blur(20px) brightness(1.5);
  z-index: 1;
}

#mothWing {position: absolute; width: 4px; height: 2px; background-color: yellow; -webkit-animation: wing .3s infinite;}
#mothPivot {-webkit-transform: translate3d(300px, 280px, -10px); -webkit-animation: moth 1.062s infinite linear;}

#mothWing2 {position: absolute; width: 2px; height: 1px; background-color: yellow; -webkit-animation: wing .1s infinite;}
#mothPivot2 {-webkit-transform: translate3d(320px, 310px, -4px);}

#mothWing3 {position: absolute; width: 3px; height: 1.5px; background-color: yellow; -webkit-animation: wing .2s infinite;}
#mothPivot3 {-webkit-transform: translate3d(282px, 312px, 10px);}

/* ------------- 애니메이션 관련된 코드 ------------- */
@-webkit-keyframes grassGlow {
  0% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.0); opacity: 0.4;}
  5% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.94); opacity: 0.3;}
  8% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.02); opacity: 0.45;}
  15% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.94); opacity: 0.3;}
  18% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.98); opacity: 0.35;}
  20% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.92); opacity: 0.3;}
  28% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.05); opacity: 0.5;}
  36% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.92); opacity: 0.3;}
  40% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.98); opacity: 0.36;}
  43% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.88); opacity: 0.28;}
  50% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.0); opacity: 0.4;}
  58% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.94); opacity: 0.3;}
  70% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.03); opacity: 0.5;}
  80% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.85); opacity: 0.28;}
  85% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.02); opacity: 0.45;}
  93% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(0.98); opacity: 0.35;}
  100% {-webkit-transform: translate(0px, 198px) rotateX(90deg) scale(1.0); opacity: 0.4;}
}

@-webkit-keyframes fireGlow {
  0% {-webkit-transform: translate(274px, 336px) scale(1.0);}
  5% {-webkit-transform: translate(274px, 336px) scale(0.85);}
  8% {-webkit-transform: translate(274px, 336px) scale(1.05);}
  15% {-webkit-transform: translate(274px, 336px) scale(0.85);}
  18% {-webkit-transform: translate(274px, 336px) scale(0.95);}
  20% {-webkit-transform: translate(274px, 336px) scale(0.85);}
  28% {-webkit-transform: translate(274px, 336px) scale(1.15);}
  36% {-webkit-transform: translate(274px, 336px) scale(0.85);}
  40% {-webkit-transform: translate(274px, 336px) scale(0.98);}
  43% {-webkit-transform: translate(274px, 336px) scale(0.8);}
  50% {-webkit-transform: translate(274px, 336px) scale(1.0);}
  58% {-webkit-transform: translate(274px, 336px) scale(0.85);}
  70% {-webkit-transform: translate(274px, 336px) scale(1.1);}
  80% {-webkit-transform: translate(274px, 336px) scale(0.75);}
  85% {-webkit-transform: translate(274px, 336px) scale(1.05);}
  93% {-webkit-transform: translate(274px, 336px) scale(0.95);}
  100% {-webkit-transform: translate(274px, 336px) scale(1.0);}
}

@-webkit-keyframes fireGlow2 {
  0% {-webkit-transform: translate3d(274px, 335px, -1px) scale(1.0, 1.08);}
  5% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.85);}
  8% {-webkit-transform: translate3d(274px, 334px, -1px) scale(1.05, 1.1);}
  15% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.85);}
  18% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.95);}
  20% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.85);}
  28% {-webkit-transform: translate3d(274px, 334px, -1px) scale(1.15, 1.2);}
  36% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.85);}
  40% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.98);}
  43% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.8);}
  50% {-webkit-transform: translate3d(274px, 335px, -1px) scale(1.0, 1.08);}
  58% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.85);}
  70% {-webkit-transform: translate3d(274px, 334px, -1px) scale(1.1, 1.15);}
  80% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.75);}
  85% {-webkit-transform: translate3d(274px, 334px, -1px) scale(1.05, 1.1);}
  93% {-webkit-transform: translate3d(274px, 336px, -1px) scale(0.95);}
  100% {-webkit-transform: translate3d(274px, 335px, -1px) scale(1.0, 1.08);}
}

@-webkit-keyframes fireWood {
  0% {-webkit-filter: brightness(1.0);}
  5% {-webkit-filter: brightness(0.85);}
  8% {-webkit-filter: brightness(1.1);}
  15% {-webkit-filter: brightness(0.85);}
  18% {-webkit-filter: brightness(0.95);}
  20% {-webkit-filter: brightness(0.85);}
  28% {-webkit-filter: brightness(1.2);}
  36% {-webkit-filter: brightness(0.85);}
  40% {-webkit-filter: brightness(0.98);}
  43% {-webkit-filter: brightness(0.8);}
  50% {-webkit-filter: brightness(1.05);}
  58% {-webkit-filter: brightness(0.85);}
  70% {-webkit-filter: brightness(1.15);}
  80% {-webkit-filter: brightness(0.8);}
  85% {-webkit-filter: brightness(1.05);}
  93% {-webkit-filter: brightness(1.0);}
  100% {-webkit-filter: brightness(1.05);}
}

@-webkit-keyframes starField {
  0% {-webkit-transform: translate3d(200px, -170px, -395px);}
  100% {-webkit-transform: translate3d(-1200px, -170px, -395px);}
}

@-webkit-keyframes spark1 {
  0% {-webkit-transform: translate3d(290px, 360px, 0px); background-color: rgba(253,255,186,1.0);}
  40% {-webkit-transform: translate3d(290px, 300px, 0px); background-color: rgba(140,13,0,0);}
  100% {-webkit-transform: translate3d(290px, 300px, 0px); background-color: rgba(140,13,0,0);}
}

@-webkit-keyframes spark2 {
  0% {-webkit-transform: translate3d(310px, 360px, 0px); background-color: rgba(253,255,186,1.0);}
  60% {-webkit-transform: translate3d(310px, 300px, 0px); background-color: rgba(140,13,0,0);}
  100% {-webkit-transform: translate3d(310px, 300px, 0px); background-color: rgba(140,13,0,0);}
}

@-webkit-keyframes spark3 {
  0% {-webkit-transform: translate3d(295px, 360px, 0px); background-color: rgba(253,255,186,1.0);}
  40% {-webkit-transform: translate3d(295px, 300px, 0px); background-color: rgba(140,13,0,0);}
  100% {-webkit-transform: translate3d(295px, 300px, 0px); background-color: rgba(140,13,0,0);}
}

@-webkit-keyframes spark4 {
  0% {-webkit-transform: translate3d(308px, 360px, 0px); background-color: rgba(253,255,186,1.0);}
  40% {-webkit-transform: translate3d(308px, 280px, 0px); background-color: rgba(140,13,0,0);}
  100% {-webkit-transform: translate3d(308px, 280px, 0px); background-color: rgba(140,13,0,0);}
}

@-webkit-keyframes wing {
  0% {-webkit-transform: rotateY(0deg);}
  50% {-webkit-transform: rotateY(180deg);}
  100% {-webkit-transform: rotateY(0deg);}
}

@-webkit-keyframes moth {
  0% {-webkit-filter: brightness(1.5);}
  50% {-webkit-filter: brightness(0.1);}
  100% {-webkit-filter: brightness(1.5);}
}